*.odt#
gasKill.py
*.html
*.pyc
*.png
*.pdf
*.env
*.so
*.d
*.pcm
analysis/humidityTest/saveTempPress.py
DAQ/currentScan/constants.py
DAQ/efficiencyScan/constants.py
monitoring/python/constants.py
*.xlsx#
*.json
